<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row title">
                Post New Blog
            </div>
            <form method="Post">
                <label class="row"> Blog Title :
                    <div class="flex">
                        <input class="inputarea" type="text" name="title">
                        {% if error %}
                            <span class="errorMsg">{{error.blogTitle}}</span>
                        {% endif %}
                    </div>
                </label>
                <label class="row">Blog Description :
                    <div class="flex">
                        <textarea class="inputarea" rows="20" cols="300" name="blogtext"></textarea>
                        {% if error %}
                            <span class="errorMsg">{{error.blogDescription}}</span>
                        {% endif %}
                    </div>
                </label>
                <label class="row">
                    <input class="button" type="submit" name="submit">
                </label>
            </form>
        </div>
    </body>